<h1>Layout Container</h1>
<p>A layout container allows all other layouts to be placed in. Basically it sets the css <code>position</code> attribute to <code>relative</code>
so subcontainers can align onto that.</p>

{{#tab-layout as |tabs|}}
	{{#tabs.page label="HBS" name="hbs"}}
		{{code-snippet name="layout-container.hbs"}}
	{{/tabs.page}}

	{{#tabs.page label="HTML" name="html"}}
		{{code-snippet name="layout-container.html"}}
	{{/tabs.page}}

	{{#tabs.page label="CSS" name="css"}}
		{{code-snippet name="layout-container.css"}}
	{{/tabs.page}}
{{/tab-layout}}


<h1>Fill Layout</h1>

<p>A fill layout takes all the available space. It is designed to construct app layouts..</p>

{{#tab-layout as |tabs|}}
	{{#tabs.page label="HBS" name="hbs"}}
		{{code-snippet name="fill-layout.hbs"}}
	{{/tabs.page}}

	{{#tabs.page label="HTML" name="html"}}
		{{code-snippet name="fill-layout.html"}}
	{{/tabs.page}}

	{{#tabs.page label="CSS" name="css"}}
		{{code-snippet name="fill-layout.css"}}
	{{/tabs.page}}
{{/tab-layout}}
